<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @*------------------------------- link bootstrap ------------------------------------*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*------------------------------- link css ------------------------------------*@
    <link href="~/Public/Css/LayoutSite.css" rel="stylesheet" />
    @*------------------------------- link font lato ------------------------------------*@
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    @*font-family: 'Dancing Script', cursive;*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    @* font-family: 'Oswald', sans-serif;*@
    @*------------------------------- link fontawesome ------------------------------------*@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/fd76fb5f52.js" crossorigin="anonymous"></script>
    @*------------------------------- link ckeditor ------------------------------------*@
    <script src="~/Public/ckeditor/ckeditor.js"></script>
    @*------------------------------- link page ------------------------------------*@
    @RenderSection("head", required: false)
</head>
<body>
    <section class="clearfix header bg-white">
        <div class="container">
            <div class="row">
                <div class="col-9 phone text-left">
                    <p> <i class="fa fa-phone"></i> <i>01297493492</i></p>
                </div>
                <div class="col-2 taikhoan">
                    <ul>
                        <li class="tk-cha">
                            <p class="text-center">
                                <i class="fa fa-user"> </i>
                                @if (Session["FullName"].Equals(""))
                                {
                                    <i>Tài Khoản</i>
                                }
                                else
                                {
                                    <i> @Session["FullName"]</i>
                                }

                            </p>
                            <ul class="tk-con">
                                @if (Session["FullName"].Equals(""))
                                {
                                    <li><a href="@Url.Action("Login","Customer")">Đăng Nhập</a></li>
                                    <li><a href="@Url.Action("Signin","Customer")">Đăng Ký</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Logout","Customer")">Đăng Xuất</a></li>
                                    <li><a href="@Url.Action("Logout","Customer")">Profile</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-1 giohang text-right">
                    <a href="@Url.Action("Index","Cart")"> <i class="fa fa-shopping-cart"></i> <i>Giỏ Hàng</i></a>
                </div>
            </div>
        </div>
    </section>
    @* **********************************hết header*********************************@
    <section class="clearfix mainmenu ">
        <div class="container">
            @Html.Action("MainMenu", "Module")
        </div>
    </section>
    @* **********************************hết mainmenu*********************************@
    <section class="clearfix content">
        @RenderBody()
    </section>
    @* **********************************hết Content*********************************@
    <section class="clearfix footer">
        <div class="container">
            <div class="footter mt-3">
                <!-- Footer -->
                <footer class="page-footer font-small mdb-color pt-4">

                    <!-- Footer Links -->
                    <div class="container text-center text-md-left">

                        <!-- Footer links -->
                        <div class="row text-center text-md-left mt-3 pb-3">

                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                <a class="navbar-brand ten-shop" href="#">
                                    <img src="~/Public/Image/logo.png" />
                                </a>
                                <p style="color: 	white;">
                                    Công ty TNHH Công nghệ Tech Việt Nam
                                    Số ĐKKD 999999999 do Sở KHĐT Thành phố Hồ Chí Minh cấp ngày 30/12/2015
                                    Người đại diện: Trưởng Thanh Nguyễn
                                    Địa chỉ: Số 105/562 Đường Lương Định Của, Phường An Phú, Quận 2, TP.HCM
                                </p>
                            </div>
                            <!-- Grid column -->
                            <hr class="w-100 clearfix d-md-none">

                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Danh Mục</h6>
                                <p>
                                    <a href="#!">CÔNG NGHỆ</a>
                                </p>
                                <p>
                                    <a href="#!">THỂ THAO</a>
                                </p>
                                <p>
                                    <a href="#!">ĐIỆN ẢNH</a>
                                </p>
                                <p>
                                    <a href="#!">GAME ONLINE</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <hr class="w-100 clearfix d-md-none">

                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                                <p>
                                    <a href="#!">Your Account</a>
                                </p>
                                <p>
                                    <a href="#!">Affiliate</a>
                                </p>
                                <p>
                                    <a href="#!">LIÊN KẾT</a>
                                </p>
                                <p>
                                    <a href="#!">TRỢ GIÚP</a>
                                </p>
                            </div>

                            <!-- Grid column -->
                            <hr class="w-100 clearfix d-md-none">

                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Liên Hệ</h6>
                                <p style="color: 	white;">
                                    <i class="fas fa-home mr-3"></i> 47/7 Khu Phố 2, Quận 2, TPHCM
                                </p>
                                <p style="color: 	white;">
                                    <i class="fas fa-envelope mr-3"></i> truongthanhnguyen2210@gmail.com
                                </p>
                                <p style="color: 	white;">
                                    <i class="fas fa-phone mr-3"></i> + 84 234 567 88
                                </p>
                                <p style="color: 	white;">
                                    <i class="fas fa-print mr-3"></i> + 84 234 567 89
                                </p>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Footer links -->

                        <hr>

                        <!-- Grid row -->
                        <div class="row d-flex align-items-center">

                            <!-- Grid column -->
                            <div class="col-md-7 col-lg-8">

                                <!--Copyright-->
                                <p class="text-center text-md-left" style="color: white;">
                                    © 2020 Copyright:
                                    <a href="#">
                                        Trưởng Thanh Nguyễn
                                    </a>
                                </p>

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-5 col-lg-4 ml-lg-0">

                                <!-- Social buttons -->
                                <div class="text-center text-md-right">
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item">
                                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </div>
                    <!-- Footer Links -->

                </footer>
                <!-- Footer -->
            </div>
            <!--************************************* hết khối footer  *******************************-->
        </div>
    </section>
    @* **********************************hết footer*********************************@


    <script src="~/Scripts/jquery-3.0.0.slim.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("footer", required: false)
</body>
</html>
