@model ShopThoiTrang.Models.ModelProducts

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-danger text-uppercase"><strong>THÊM SẢN PHẨM</strong></div>
                <div class="col-6 text-danger text-right">
                    <button type="submit" class="btn btn-sm btn-info">Add</button>
                    <a href="@Url.Action("index", "Products")" class="btn btn-sm btn-danger">Preview</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @Html.Partial("_Message")
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Tên Sản Phẩm</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label>Chi Tiết Sản Phẩm</label>
                        @Html.TextAreaFor(model => model.Detail,new{@class = "form-control"@*, @id= "txt_content", @name = "txt_content"*@})
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label>Từ Khóa SEO</label>
                        @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Mô Tả SEO</label>
                        @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group text-danger">
                       @ViewBag.Error
                    </div>
                </div>
                @*  het col-8*@
                <div class="col-4">
                    <div class="form-group">
                        <label>Loại Sản Phẩm</label>
                        @Html.DropDownListFor(model => model.CatId, (SelectList)ViewBag.ListCatId, "[---- Chọn Loại SP ----]", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Số Lượng</label>
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Giá Khuyến Mại</label>
                        @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <input type="file" name="img" class="form-control" />
                        @Html.ValidationMessage("HINHANH", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất Bản", Value = "1" }, new SelectListItem { Text = "Chưa Xuất Bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                @* het col-4*@
            </div>
            @* het row*@
        </div>
    </div>
}
@*<script type="text/javascript">
    $(function () {
        if (CKEDITOR.instances['txt_content']) {
            CKEDITOR.remove(CKEDITOR.instances['txt_content']);
        }
        CKEDITOR.config.width = 700;
        CKEDITOR.config.height = 300;
        CKEDITOR.replace('txt_content', {});
    })
</script>*@