@model ShopThoiTrang.Models.ModelContact

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="cart">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <strong class="text-danger text-uppercase">@Html.DisplayFor(model => model.FullName)</strong>
            </div>
            <div class="col-6 float-right text-right">
                <a href="@Url.Action("Edit", "Contacts", new { id = @Html.DisplayFor(model => model.Id) })" class="btn btn-sm btn-info">Reply</a>
                <a href="@Url.Action("Index", "Contacts")" class="btn btn-sm btn-danger">Preview</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">         
            <tbody>
                <tr>
                    <th scope="row">Họ Và Tên: </th>
                    <td>@Html.DisplayFor(model => model.FullName)</td>
                </tr>
                <tr>
                    <th scope="row">Email: </th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th scope="row">Số Điện Thoại: </th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <th scope="row">Tiêu Đề: </th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th scope="row">Nội Dung: </th>
                    <td>@Html.DisplayFor(model => model.Detail)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>