@model ShopThoiTrang.Models.ModelSlider

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Create", "Sliders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 text-danger text-uppercase"><strong>THÊM Sliders</strong></div>
                <div class="col-6 text-danger text-right">
                    <button type="submit" class="btn btn-sm btn-info">Add</button>
                    <a href="@Url.Action("index", "Sliders")" class="btn btn-sm btn-danger">Preview</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @Html.Partial("_Message")
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label>Tên Sliders</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Liên Kết</label>
                        @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Vị Trí</label>
                        @Html.DropDownListFor(model => model.Position, new[] {
                       new SelectListItem { Text = "slideshow", Value = "slideshow" },
                       new SelectListItem { Text = "banner", Value = "banner" },
                        new SelectListItem { Text = "Quảng Cáo", Value = "quangcao" } },
                       new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <input type="file" name="img" class="form-control" />
                        @Html.ValidationMessage("HINHANH", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Trạng Thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất Bản", Value = "1" }, new SelectListItem { Text = "Chưa Xuất Bản", Value = "2" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group text-danger">
                       @ViewBag.Error
                    </div>
                </div>
                @*  het col-8*@      
            </div>
            @* het row*@
        </div>
    </div>
}